torch==1.11.0+cpu -f https://download.pytorch.org/whl/cpu/torch_stable.html
transformers==4.52.3
sentence-transformers==2.2.2
langchain==0.3.23
faiss-cpu==1.10.0
flask==3.1.0
flask-cors==5.0.1
flask-migrate==4.1.0
flask-sqlalchemy==3.1.1
gunicorn==20.1.0
python-dotenv==1.1.0

